
/** Card **/

.card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom:1px;
    border:none;
}
.card-header:first-child {
    border-radius: 0;
}
.card-header {
    margin-bottom: 0;
}
.card-header a i{
    float:left;
    padding:5px 0;
    margin:0 25px 0 0px;
    color:#195C9D;
}
.card-header i{
    float:right;
    font-size:18px;
    width:1%;
    margin-top:8px;
    margin-right:10px;
}
.card-header a{
    width:97%;
    float:left;
    color:#565656;
}
.card-header p{
    margin:0;
}

.card-header span{
    margin:0 0 0px;
    font-size:15px;
    font-weight:bold;
    color: dimgray;
}
.card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    color:#232323;
    border-radius:0;
}

/** Buttons circle **/
.btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
}

.btn-circle-micro {
    width: 19px;
    height: 19px;
    text-align: center;
    padding: 1px 0;
    font-size: 13px;
    line-height: 0.1;
    border-radius: 30px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    line-height: 1.65;
    border-radius: 30px;
}

.btn-circle-lg {
    width: 79px;
    height: 79px;
    text-align: center;
    padding: 13px 0;
    font-size: 30px;
    line-height: 2.00;
    border-radius: 70px;
}
